names: Spotify
on:
  workflow_dispatch:
    schedule:
    - cron:  '30 6 * * *'
jobs:
  run-sync-service:
    runs-on: ubuntu-latest
    steps:
      - name: Install RClone
        run: |
           sudo apt install rclone
      - name: FFMPEG 
        run: |
          sudo apt-get install ffmpeg 
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Cd Into Repo
        run: |
          cd ${{ github.workspace }}
      - name: Downloading config file
        run: |
          wget -qq ${{ secrets.Rclone }} -O rclone.conf
      - name: Downloading links
        run : |
          wget -qq https://gist.github.com/BlackFoxy616/95fd418794abad8ee4ce97b921fd7a80/raw/songs.txt && wget https://gist.github.com/BlackFoxy616/3999f19aff7728492349140bd5c1448a/raw/playlist.txt
      - name: Requirements 
        run: |
           pip install -r requirements.txt
      - name: Running the Script 
        run: |
          python main.py
      - name: Deploy
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.TOKEN }}
          gist_id: 95fd418794abad8ee4ce97b921fd7a80
          file_path: songs.txt
          file_type: text
